{% extends "base.html" %}

{% block title %}
Register - Sign Up to access your account
{% endblock %}

{% block bodyContent %}
	<div class="main wrapper clearfix">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<table>
				<tr>
				<td>{{ form.username.label }}</td><td> {{ form.username }}</td></tr>
				<tr><td>{{ form.email.label }}</td><td> {{ form.email }}</td></tr>
				<tr><td>{{ form.password.label }}</td><td> {{ form.password }}</td></tr>
				<tr><td>{{ form.confirm.label }}</td><td> {{ form.confirm }}</td></tr>
				<tr><td><button type="submit">{{ form.submit.label }}</button></td>
			</table>
		</form>
	</div>
	<div class="main wrapper clearfix">
		<a href="{{ url_for('login') }}">Already have an account?</a>
	</div>
{% endblock %}
